/* general */

section {
	width: 60%;
	margin: auto;
	margin-top: 50px;
	padding: 20px;
}

/* navbar */

.navbar-logo {
	padding: 15px;
	color: #fff;
}

.navbar-mainbg {
	background-color: #5161ce;
	padding: 0px;
}

#navbarSupportedContent {
	overflow: hidden;
	position: relative;
}

#navbarSupportedContent ul {
	padding: 0px;
	margin: 0px;
}

#navbarSupportedContent ul li a i {
	margin-right: 10px;
}

#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}

#navbarSupportedContent ul li a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	font-size: 15px;
	display: block;
	padding: 20px 20px;
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	position: relative;
}

#navbarSupportedContent>ul>li.active>a {
	color: #5161ce;
	background-color: transparent;
	transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}

#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}

.hori-selector {
	display: inline-block;
	position: absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}

.hori-selector .right {
	right: -25px;
}

.hori-selector .left {
	left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #5161ce;
}

.hori-selector .right:before {
	bottom: 0;
	right: -25px;
}

.hori-selector .left:before {
	bottom: 0;
	left: -25px;
}

@media (min-width: 992px) {
	.navbar-expand-custom {
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.navbar-expand-custom .navbar-nav {
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.navbar-expand-custom .navbar-toggler {
		display: none;
	}

	.navbar-expand-custom .navbar-collapse {
		display: -ms-flexbox !important;
		display: flex !important;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}
}

@media (max-width: 991px) {
	#navbarSupportedContent ul li a {
		padding: 12px 30px;
	}

	.hori-selector {
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}

	.hori-selector .left,
	.hori-selector .right {
		right: 10px;
	}

	.hori-selector .left {
		top: -25px;
		left: auto;
	}

	.hori-selector .right {
		bottom: -25px;
	}

	.hori-selector .left:before {
		left: -25px;
		top: -25px;
	}

	.hori-selector .right:before {
		bottom: -25px;
		left: -25px;
	}
}

/* home */

#home {
	background-image: url("https://cdn.wallpapersafari.com/73/10/E1bD5B.jpg");
	color: #fff;
	height: 80vh;
}

.profile-pic {
	border-radius: 50%;
	height: 300px;
	border: 10px solid;
	border-color: #fff;
}

/* education */



.per-card-3 {
	height: 120px;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
	-o-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2)
}

.per-card-3 .card-content {
	padding: 20px;
	position: relative
}

.per-card-3 .card-image {
	position: relative;
	background: #009688;
	padding-left: 20px;
	text-align: left
}

.per-card-3 .card-image .per-name {
	font-size: 20px;
	color: #fff
}

.per-card-3 .card-content .per-position {
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #009688
}


.per-card-3 .card-content .card-text span {
	font-size: 13px;
	color: #007368
}


/* skills */

.skill-img {
	height: 200px;
}

.skill {
	padding: 5px 0;
	margin: 0 0 3px 0;
	text-transform: uppercase;
	display: block;
	font-weight: 700;
}

.val {
	float: right;
	font-style: normal;
}

.progress-start {
	animation-name: animateBar;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .4s;
}

@keyframes animateBar {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0);
	}
}

/* projects */



/* experience */

#experience .icon-box {
	padding: 30px;
	position: relative;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
	transition: all 0.3s ease-in-out;
	text-align: center;
	border: 1px solid #fff;
}

#experience .title {
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 18px;
}

#experience .title a {
	color: #111;
	transition: 0.3s;
}

#experience .description {
	font-size: 15px;
	line-height: 28px;
	margin-bottom: 0;
}

#experience .icon-box:hover {
	border-color: #ffb727;
}

#experience .icon-box:hover .title a {
	color: #ffb727;
}

.experience-img {
	border-radius: 50%;
	height: 150px;
}

/* footer */


.foot-head {
	color: white;
	margin: 0;
	padding: 0;
}

.foot-link {
	color: #848687;
	border: black;
}

.foot-link a {
	color: #cacccf;
	text-decoration: none;
}



.foot-desc {
	color: #cacccf;
}

#quicklink ul {
	width: fit-content;
	margin: auto;
}